# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
venv/
.venv311/
venv311/
.venv/
env/

# Environment variables
.env
*.env

# Sentence Transformers model cache
.cache/
models/

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db
